body {
    font-family: tahoma;
    font-size: 13px;
    width: 80%;
    margin: 0px auto;
}

#banner {
    height: auto;
    width: 100%;
}

#main #right {
    width: 30%;
    float: left;
    min-height: 400px;
}

#banner .banner {
    width: 570px;
    height: 430px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#main #left ul li img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 15px;
}

#left {
    width: 60%;
}

#main #left ul {
    margin: 0px;
    padding: 0px;
}

#main #left ul li {
    list-style: none;
    clear: left;
    border-bottom: 2px solid #ccc;
    display: flex;
    margin-bottom: 20px;
}

#main #left ul li h3 {
    color: #00549a;
}

#main {
    margin-top: 10px;
    display: flex;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#right input {
    height: 35px;
    width: 70%;
}

#right {
    width: 20%;
    float: left;
    min-height: 400px;
}

#right button {
    height: 35px;
    margin-left: 10px;
    background: #00549a;
    color: white;
    font-style: initial;
}

#right h3 {
    color: #00549a;
}

#right ul {
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}

#right ul li a {
    text-decoration: none;
    color: #000;
}

#right ul li a:hover {
    color: #00549a;
}

#right ul li {
    margin-top: 15px;
    margin-left: 15px;
}